*{
    margin:0px;
    padding:0px;
    padding-top:0.1px;
    font-family: sans-serif;
}
body{height:100%;
    background-size:100% 100%;
    background-attachment: fixed;
    overflow-x: hidden}
nav {
    height:50px;
    margin-top:10px;
    width:100%;
    display:flex;
    margin-bottom: 20px;
    background-attachment: fixed
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 900px;
    width: 100%
}
.address {
    font-size: 80%;
    margin: 0px;
}
address{font-size:1em;color:white;font-weight: bold;text-align: center;line-height:30px}


