*{
    margin:0px;
    padding:0px;
    padding-top:0.1px;
    font-family: sans-serif;
}
body{height:100%;background: url(31799.jpg);background-size:100% 100%;background-attachment: fixed}
nav{height:50px;margin-top:10px;width:100%;display:flex;margin-bottom: 20px;background-attachment: fixed}
.nav-left{height:100%;width:50%;}
.nav-right{height:100%;width:50%;}
.nav-left>h1{font-size:1.8em;color:white;margin-left:40px;position: fixed}
.nav-right>ul{display: flex;list-style: none; float:right;margin-right:70px;margin-top:20px;position: fixed;}
.nav-right>ul>li{list-style: none;}
.nav-right>ul>li>a{text-decoration: none; font-size:.9em;margin-right: 40px;color: white;letter-spacing: 1px;font-weight: 600}
.nav-right>ul>li>a:hover{color:orangered}
.parent{height:100%;width:100%;display:flex;justify-content: center;align-items: center}
.child{height:300px;width:30%;transform: scale(1.2);transition:.5s}
.child>h1{font-size:2em;color:white;font-weight: 200;text-align: center;margin-bottom: 10px}
.child>p{font-size:1em;color:white;font-weight: bold;text-align: left;line-height:30px}
.about-child{height:600px;width:30%;transform: scale(1.2);transition:.5s}
.about-child>h1{font-size:2em;color:white;font-weight: 200;text-align: center;margin-bottom: 10px}
.about-child>p{font-size:1em;color:white;font-weight: bold;text-align: center;line-height:30px}
.work-child{height:500px;width:30%;border: 3px solid gray;border-radius: 50px; transform: scale(1.2);transition:.5s;}
.work-child>h1{font-size:2em;color:white;font-weight: 200;text-align: center;margin-bottom: 10px}
.work-child>h2{color:white;font-weight: 200;text-align: center;margin-bottom: 10px}
.work-child>h3{color:white;font-weight: 200;text-align: center;margin-bottom: 10px}
.work-child>p{font-size:1em;color:white;font-weight: bold;text-align: center;line-height:30px}
.upper{height:25%;width:100%;margin-bottom:40px;box-sizing: border-box;}
.down{height:70%;width:100%;box-sizing: border-box}
.left{width:30%;height:100%;float:left;background-image: url(searchpng.com-drdo-logo-png-image-free-download.png);background-size:100% 100%;box-sizing: border-box}
.right{width:70%;height:100%;margin: auto; margin-top: 20px; box-sizing: border-box}
.right>p{font-weight: 200;text-align: center;}
.down>p{font-size:1em;color:white;font-weight: bold;text-align: center;line-height:30px}
.contact-child{height:300px;width:30%;transform: scale(1.2);transition:.5s;text-align: center}
.contact-child>h1{color:white;font-weight: 200;text-align: left;margin-bottom: 10px}
address{font-size:1em;color:white;font-weight: bold;text-align: center;line-height:30px}
.social-center{width:100%;height: 100px;text-align: center;margin-top: 20px;color:white}
.skills-child{height:600px;width:40%;transform: scale(1.2);transition:.5s}
.footerC{

      border:0.5px solid black;

      font-size: 20px;

      border-radius: 10px;

      padding: 5px;

      color: white;

      }

      .footerC:hover{

      font-size: 25px;

      background-color: rgba(0,0,0,0.6);

      transition: 0.4s;

      }
fa-facebook {

      background: #3B5998;

      color: white;

      }

      .fa-twitter {

      background: #55ACEE;

      color: white;

      }

      .fa-linkedin {

      background: #007bb5;

      color: white;

      }

      .fa-instagram {

      background: #125688;

      color: white;

      }
.fa {

      padding: 20px;

      font-size: 15px;

      width: 15px;

      text-align: center;

      text-decoration: none;

      margin: 5px 2px;

      border-radius: 50%;

      }


