* {
  margin: 0px;
  padding: 0px;
  padding-top: 0.1px;
  font-family: sans-serif;
}
body {
  height: 100%;
  width: 100%;
  background-image: url(./img-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  background-attachment: fixed;
}
#root {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
  opacity: 0.9;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  min-height: 900px;
  width: 100%;
}
